# Machine Learning Labs - 4eiai40

# Jupyter & Notebook Environment
ipykernel
jupyter
notebook

# Data Manipulation
pandas
numpy

# Visualization
matplotlib
seaborn          # For more advanced/beautiful plots
plotly           # For interactive visualizations

# Machine Learning
scikit-learn     # For ML algorithms, preprocessing, metrics
kaggle
learntools       # For Kaggle tutorial exercises

# Deep Learning
# tensorflow
# or
# torch
# torchvision

# Utilities
tqdm             # For progress bars
joblib           # For saving/loading models





